---
import PageLayout from "../layouts/PageLayout.astro";
---
<PageLayout title="About">
  <p class="p">
    This is a commercial-ready bookstore UI built with Astro and API-driven cards.
  </p>
</PageLayout>
